/* ASIDE */
aside {
    width: 300px;
    background-color: black;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100%;
}

.logo img{
    width: 8.75rem;
    height: 3.125rem;
}

aside .logo{
    padding: 1.25rem .9375rem;
}

aside nav {
    padding-top: 1.25rem;
    padding-left: 1.25rem;
    color: #a3a3a3;
}

.nav-link{
    display: flex;
    align-items: center;
}

.home{
    color: white;
}

aside h4{
    color: white;
    margin-bottom: 1.0625rem;
    padding-left: 0.3125rem;
}
.pl-container{
    align-items: center;
    margin-top: .625rem;
    margin-bottom: 1.25rem;
}
.pl-text{
    padding-left: .625rem;
}
.plus{
    width: 2.5rem;
    height: 2.5rem;
    color: black;
    background-color: #a3a3a3;
    border: none;
    cursor: pointer;
    font-size: 1.125rem;
}

.new-playlist{
    flex-grow: 1;
    overflow-y: hidden;
}

.new-playlist li:not(:first-child){
    padding-top: 1.25rem;
}

.new-playlist ul{
    overflow-y: auto;
    height: 100%;
}
.new-playlist a{
    color: gray;
}

.account{
    margin-top: auto;
}

.install{
    color: #a3a3a3;
}

.install img{
    width: 20px;
    filter: invert(60%);
}

.profile {
    margin-top: .8125rem;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    margin-bottom: 10px;
    padding-top: .9375rem;
    align-items: center;
    border-top: 1px solid #a3a3a3;
}

.profile .user {
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 50%;
    background-color: grey;
}

.profile div:last-child{
    color: white;
}
@media screen and (max-width:600px) {
    aside{
        width: 3.125rem
    }

    aside .logo-small{
        display: block;
        padding-top: .3125rem;
        padding-left: .625rem;
    }

    .logo-small img{
        width: 1.875rem;
        height: 1.875rem;
    }
    aside .logo{
        display: none;
    }

    aside a, .playlist, aside .ml-20, aside .ml-10 {
        display: none;
    }

    aside nav {
        padding-top: .625rem;
        padding-left: .625rem;
    }

    aside i {
        font-size: 1.375rem;
        padding-bottom: .25rem;
    }

    .install img{
        margin: 0 .1875rem;
    }

    .profile {
        margin: 0;
        border: none;
        padding: .75rem;
    }
}