/* COMMON */
.flex {
    display: flex;
}

.none {
    display: none;
}

.li{
    list-style: none;
}

.flex-end{
    justify-content: flex-end;
}

.align-center{
    align-items: center;
}

.flex-between{
    justify-content: space-between;
}