/* COMMON */
.flex {
    display: flex;
}

.none {
    display: none;
}

.li{
    list-style: none;
}

.flex-end{
    justify-content: flex-end;
}

.align-center{
    align-items: center;
}

.flex-between{
    justify-content: space-between;
}

.image-width{
    width: 1.25rem;
}

.padding-left{
    padding-left: .625rem;
}

a{
    text-decoration: none;
    color: #a3a3a3;
}