/* COMMON */
.flex {
    display: flex;
}

.none {
    display: none;
}

.flex-end{
    justify-content: flex-end;
}

.align-center{
    align-items: center;
}

.flex-between{
    justify-content: space-between;
}

.image-width{
    width: 1.875rem;
    height: 1.875rem;
    padding-right: .3125rem;
}
.grey{
    color: grey;
}
a{
    text-decoration: none;
}

.ml-10{
    margin-left: .625rem;
}

.ml-20{
    margin-left: 1.25rem;
}