/* HEADER */
header {
    position: fixed;
    top: 0;
    left: 300px;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    height: 90px;
    z-index: 10;
}

header button{
    background-color: #080b12;
    color: white;
    border: 1px solid white;
    border-radius: 2.5rem;
    margin-right: 1.25rem;
    padding: 0 2.5rem;
    height: 2.5rem;
    cursor: pointer;
}

/* HOVER */
header button:hover{
    scale: 105%;
}
@media screen and (max-width: 600px) {
    header {
        left: 50px;
    }
}