/* MAIN */
main {
    height: 100%;
    width: calc(100% - 300px);
    overflow-y: auto;
    background-color: #141922;
    padding-top: 90px;
    color: white;
}
.main-container li {
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    color: grey;
}

main h2 {
    padding: 1.25rem .625rem;
}

.main-container a{
    color: grey;
}

.col{
    width: calc(100% / 6);
    padding: .625rem;
    position: relative;
}

.description{
    text-align: center;
}
.block{
    display: block;
}

.description .title{
    color: white;
    font-size: 1rem;
    margin-bottom: .3125rem;
    margin-top: 1.25rem;
    font-weight: bold;
}

section h5{
    padding: 0 0 1.875rem .625rem;
    color: grey;

}

.recently{
    padding-right: .625rem;
}

.circle{
    border-radius: 50%;
}

/* HOVER-MAIN */

.h-main a:hover{
    color: white;
}

/* RECENTLY PLAYED */
.img-hover{
    position: absolute;
    width: 191px;
    height: 191px;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    cursor: pointer;
}

.play-hover{
    position: absolute;
    left: 55px;
    top: 55px;
    color: white;
    font-size: 40px;
}

.img-hover:hover{
    opacity: 1;
}
/* /RECENTLY PLAYED */

@media screen and (max-width:1100px) {
    .col {
        width: calc(100% / 4);
        padding: 10px;
    }

}

@media screen and (max-width:700px) {
    .col {
        width: calc(100% / 2);
        padding: 10px;
    }
    
}

@media screen and (max-width:600px) {
    main{
        width: calc(100% - 50px);
    }
    
    .col {
        width: calc(100% / 2);
        padding: 10px;
    }

}