@import url(/css/reset.css);
@import url(/css/common.css);
@import url(/css/header.css);
@import url(/css/aside.css);
@import url(/css/main.css);
@import url(/css/footer.css);

body{
    height: 100vh;
}

.page-container{
    display: flex;
    height: calc(100% - 80px);
}